{:deps {:aliases [:dev]}
 :dev-http {8080 ["resources/public" "classpath:public"]}
 :builds
 {:app
  {:target :browser
   :modules {:main {:init-fn reagent-i18n.dev/main}}
   :dev {:output-dir "resources/public/app-js"}}}}
